@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

a{
    text-decoration: none;
    color: var(--color-five);
}
body{
    padding: 0%;
    margin: 0%;
    background-color: var(--color-one);
    font-family: 'Raleway', sans-serif;
}

:root {
    --color-one: #e7e7de;
    --color-two: #008891;
    --color-three: #00587a;
    --color-four: #0f3057;
    --color-five: #000000;
}

/*--------------------------------------------- começo da barra de menu */

header{
    border-bottom: 1px solid var(--color-one);
}
.logo {
    max-width: 15%;
    width: auto;
    max-height: 100%;
    height: auto;
}
.header-logo{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}
.header-content{
    padding: 2% 15% 2% 15%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.header-nav a{
    margin-left: -50%;
}
.header-nav a:hover{
    margin-left: -50%;
    color: var(--color-two);
    font-weight: bold;
}
.active{
    color: var(--color-two);
    font-weight: bold;
}


/* ------------------------------------------------------ começo do video de fundo */

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner video {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
  }
/* ------------------------------------  CURVAS----------------------------------------- */

.custom-shape-divider-bottom-1618793248 {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -5%;
}

.custom-shape-divider-bottom-1618793248 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1618793248 .shape-fill {
    fill: var(--color-one);
}


/* ----------------------------------------------------------- conteudo com fotos*/

.conteiner{
    background-color: var(--color-one);
    display: flex;
    padding: 13% 5% 0% 5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container_texto{
    flex-wrap: wrap;
    margin: 0% 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
.container_texto p{
    text-align: center;
    font-size: x-large;
    margin: 3% 15%;
}

h1 {
    color: var(--color-four);
}

.h1-1{
    color: var(--color-two);
}

img {
    max-width: 50%;
    width: auto;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5%;
}

/* -------------------------------------------------------  fim do conteudo com fotos*/

/* ------------------------------------------------------- conteudo com icones */
.container-icones{
    background-image: linear-gradient(to bottom, var(--color-one), var(--color-two) 380%);
}
.container-icones img{
    max-width: 30%;
    width: auto;
    max-height: 100%;
    height: auto;
}
.container-info{
    padding: 2% 5% 10% 5%;
    max-height: 20%;
    height: auto;
    max-width: 100%;
    width: auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo-icones h1{
    align-items: center;
    text-align: center;
    margin-top: 10%;
    color: var(--color-four);
    padding: 5%;
}

.container-combo{
    margin: 1%;
    align-items: center;
    color: var(--color-four);
    width: 23%;
}

/* ----------------------------------------------------------------- fim do conteudo com icones */

/* ------------------------------------------------------------------- ultimo container  */

.container-final{
    background-image: url("../imagens/reuniao\ online.jpg");
    max-width: 100%;
    max-height: 20%;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding: 25%;
    justify-content: center;
}

.titulo-final h1{
    text-align: center;
    color: var(--color-one);
    margin-top: -20%;
    font-size: 2em;
}

button {
    position: absolute;
    margin-top: 8%;
}

button {
    background: var(--color-two);
    color: var(--color-one);
    width: 300px;
    height: 80px;
    border: 1px solid var(--color-two);
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus{
    outline: none;
}

button::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

button:hover{
    background: var(--color-two);
    cursor: pointer;
}

button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6s;
    transition: .7s;
}

button:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

/* ------------------------------------------------------------------------- CURVAS */

.custom-shape-divider-bottom-1618773776 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -10%;
}

.custom-shape-divider-bottom-1618773776 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1618773776 .shape-fill {
    fill: var(--color-two);
}


/* ---------------------------------------------------------------------------- inicio footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    background: var(--color-two);
    color: var(--color-one);
}

.footer img{
    width: 5%;
    display: flex;
    position: absolute;
    left: 0;
    z-index: 100;
    margin-left: 3%;
}

#github-icon{
    width: 5%;
    display: flex;
    position: absolute;
    left: 90%;
    z-index: 100;
    margin-right: 3%;
}
/* ------------------------------------------------------------------------------------------ */